@plugin "daisyui/theme" {
  name: "forest";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20.84% 0.008 17.911);
  --color-base-200: oklch(18.522% 0.007 17.911);
  --color-base-300: oklch(16.203% 0.007 17.911);
  --color-base-content: oklch(83.768% 0.001 17.911);
  --color-primary: oklch(60% 0.25 27); /* Angular Red */
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(67% 0.18 38); /* Red-Orange */
  --color-secondary-content: oklch(16% 0.025 38);
  --color-accent: oklch(72% 0.14 28); /* Coral/Aurora tint */
  --color-accent-content: oklch(14% 0.02 28);
  --color-neutral: oklch(26% 0.012 270); /* Dark slate-gray */
  --color-neutral-content: oklch(88% 0.008 270);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
