<ng-container>
  <aside class="sidebar">
    <div class="flex gap-2">
      @for (category of categories$ | async; track $index) {
      <button
        [disabled]="category.disabled"
        class="btn btn-primary btn-sm"
        (click)="navigateToCategory(category.name, category.path)"
      >
        {{ category.name }} @if (category.icon) {
        <app-icon [name]="category.icon"></app-icon>
        } @else if (category.image) {
        <img width="18px" height="18px" [src]="category.image" alt />
        }
      </button>
      }
    </div>

    <ul class="list mt-2">
      @for (post of (posts$ | async); track $index) {
      <li [routerLink]="['/angular', post.slug]" class="list-item">
        <small>{{ post.title }}</small>
      </li>
      }
    </ul>
  </aside>
  <main class="w-[calc(100%-250px)] ml-[250px] h-full">
    <router-outlet></router-outlet>
  </main>
</ng-container>
